@charset "utf-8";

body{
    background          : url(../images/static/bg.jpg);
    background-repeat   : no-repeat;
}

.column{
    float   : left;
}

.row{
    clear   : both;
}

#mainContainer{
    margin-left         : auto;
    margin-right        : auto;
    border              : solid 2px #999;
    top                 : 6px;
    width               : 930px;
    background-color    : #FFF;
}

/* Header */

#header_login{
    background-color    : #666;
    color               : #FFF;
    padding-right       : 10px;
    text-align          : right;
    width               : 920px;
}

#header_login a{
    color               : #FFF;
    text-decoration     : none;
}

#header_logo{
    background      : #FFF;
    text-align      : center;
    width           : 930px;
    padding-top     : 4px;
    padding-bottom  : 4px;
    height          : 75px;
}

#header_logo_UCC{
    width   : 304px;
    height  : 75px;
}

#header_logo_2011{
    margin-left : 6px;
    width       : 620px;
    height      : 75px;
}

/* PageContent */

#pageContent{
    width   : 930px;
}

#menuBar{
    background-color    : #666;
    color               : #FFF;
    text-align          : right;
    padding-top         : 2px;
    padding-bottom      : 2px;
    padding-right       : 10px;
    border-bottom       : 1px solid #C9F;
}

#menuBar a {
    color           : #FFF;
    text-decoration : none;
}

#menuBar li{
    display         : inline;
    text-decoration : none;
    border-left     : solid 1px;
    border-right    : solid 1px;
    padding-left    : 5px;
}

#menuBar ul{
    display : inline;
}

#menuBar #selected {
    font-weight : bold;
}

#side_info{
    width   : 930px;
}

#side_info_left{
    width   : 220px;
}

#side_info_right{
    width   : 150px;
}

#side_info_left, #side_info_right{
    position            : inherit;
    background-color    : #CCC;
    height              : 480px;
}

#about_left_links{
    padding-top : 20px;
}

#about_left_links ul{
    padding : 0px;
}

#about_left_links li{
    padding-bottom  : 4px;
    text-decoration : none;
    list-style      : none;
    border-bottom   : 1px solid #333;
}

#about_left_links a {
    color           : #333;
    text-decoration : none;
}

#about_left_links #left_selected {
    font-weight : bold;
}

#about_title{
    padding-left    : 40px;
    width           : 460px;
    float           : left;
    text-align      : left;
    font-weight     : bold;
    padding-top     : 4px;
    border-bottom   : 1px solid #AAA;
}

#maps{
    margin-top      : 6px;
    margin-left     : auto;
    margin-right    : auto;
    margin-bottom   : 6px;
    width           : 180px;
    border          : 1px solid #999;
}

#label1{
    color               : #FFF;
    width               : 180px;
    background-color    : #777;
}

#links{
    margin-left         : auto;
    margin-right        : auto;
    margin-bottom       : 6px;
    width               : 180px;
    background-color    : #DDD;
    font-size           : 13px;
}

#label2{
    border-bottom   : 1px solid #777;
}

#links_1{
    text-align  : left;
}

#side_info_mid{
    width               : 560px;
    height              : 480px;
    overflow-y          : scroll;
    background-color    : #F9F5F9;
}

h2{
    color           : #444;
    padding-left    : 20px;
    text-align      : left;
    border-bottom   : 1px solid #333;
}

h3 {
    padding-left    : 30px;
    text-align      : left;
}

h3 a{
    color           : #444;
    text-decoration : none;
}

#left_imgs{
    display     : inline;
    float       : left;
    text-align  : left;
    padding     : 10px;
}

#right_text{
    width   : 500px;
    padding : 10px;
}

#calendar{
    width   : 150px;
    height  : 150px;
}

/* Footer */

#footer{
    bottom      : 4px;
    width       : 930px;
    border-top  : 1px solid #999;
}

#cp_left{
    font-size   : 11px;
    width       : 230px;
}

#cp_right{
    float       : right;
    width       : 700px;
    font-size   : 11px;
    text-align  : right;
}

.area_title{
    position            : relative;
    right               : 10px;
    background-image    : url(../images/static/quicklinksplus.png);
    background-repeat   : no-repeat;
    background-position : right;
    border-bottom       : solid 1px;
}

.area_title:hover {
    cursor  : pointer;
}

.filled, .applied{
    color   : #999;
}

.odd_row {
    background-color    : #EEE;
}

.apply_now {
    text-align  : left;
}

.add_to_list{
    text-align  : right;
}

.course_box {
    background-color: #CCC;
}